{% load dynamic_inline_formset snake_case %}

{% for funding_type in technology_funding_types %}
{% with funding_type_snake=funding_type.name|slugify|snake_case %}
<div class="card card--funding-types card--{{ funding_type.name | slugify }}{% if forloop.last %} mb-0{% endif %}">
    <div class="card-header">
        <strong>{{ funding_type.name | escape }}</strong>
    </div>
    <div class="card-body">
        {% dynamic_inline_formset technology_funding_types_formset_prefix funding_type_snake %}
    </div>
</div>
{% endwith %}
{% endfor %}

