{% load element_error readiness_inline_formset snake_case %}

<div class="form-group">
    {{ form.name.label_tag }}

    {{ form.name }}

    {% if form.name.errors %}
    {% element_error form 'name' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.region.label_tag }}

    {{ form.region }}

    {% if form.region.errors %}
    {% element_error form 'region' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.categories.label_tag }}

    {# FIXME: Results to duplicate queries. Look at: #}
    {# <https://docs.djangoproject.com/en/dev/ref/models/querysets/#select-related> #}
    {# <https://medium.com/@hakibenita/things-you-must-know-about-django-admin-as-your-app-gets-bigger-6be0b0ee9614> #}
    {{ form.categories }}

    {% if form.categories.errors %}
    {% element_error form 'categories' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.industry_sector_isp.label_tag }}

    {# FIXME: Results to duplicate queries. Look at: #}
    {# <https://docs.djangoproject.com/en/dev/ref/models/querysets/#select-related> #}
    {# <https://medium.com/@hakibenita/things-you-must-know-about-django-admin-as-your-app-gets-bigger-6be0b0ee9614> #}
    {{ form.industry_sector_isp }}

    {% if form.industry_sector_isp.errors %}
    {% element_error form 'industry_sector_isp' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.commodities.label_tag }}

    {# FIXME: Results to duplicate queries. Look at: #}
    {# <https://docs.djangoproject.com/en/dev/ref/models/querysets/#select-related> #}
    {# <https://medium.com/@hakibenita/things-you-must-know-about-django-admin-as-your-app-gets-bigger-6be0b0ee9614> #}
    {{ form.commodities }}

    {% if form.commodities.errors %}
    {% element_error form 'commodities' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.protection_level.label_tag }}

    {# FIXME: Results to duplicate queries. Look at: #}
    {# <https://docs.djangoproject.com/en/dev/ref/models/querysets/#select-related> #}
    {# <https://medium.com/@hakibenita/things-you-must-know-about-django-admin-as-your-app-gets-bigger-6be0b0ee9614> #}
    {{ form.protection_level }}

    {% if form.protection_level.errors %}
    {% element_error form 'protection_level' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.year.label_tag }}

    {{ form.year }}

    {% if form.year.errors %}
    {% element_error form 'year' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.description.label_tag }}

    {{ form.description }}

    {% if form.description.errors %}
    {% element_error form 'description' %}
    {% endif %}
</div>

<div class="form-group">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-6">
            <table class="table table--s-1 mb-0">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Year Complied</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tech_status in tech_statuses %}
                    {% with tech_status_snake=tech_status.name|slugify|snake_case %}
                    {% readiness_inline_formset tech_statuses_formset_prefix tech_status_snake label=tech_status.name %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


