{% load element_error readiness_inline_formset snake_case %}

<div class="form-group">
    {{ form.name.label_tag }}

    {{ form.name }}

    {% if form.name.errors %}
    {% element_error form 'name' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.region.label_tag }}
    <!-- FIX: show region name and roman number-->
    {{ form.region }}

    {% if form.region.errors %}
    {% element_error form 'region' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.categories.label_tag }}

    {{ form.categories }}

    {% if form.categories.errors %}
    {% element_error form 'categories' %}
    {% endif %}
</div>

<div class="form-group">
    Industry - Sector - ISP:

    <!-- FIX: show industries and sectors along with the isp -->
    {{ form.industry_sector_isps }}

    {% if form.industry_sector_isps.errors %}
    {% element_error form 'industry_sector_isps' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.protection_level.label_tag }}
    
    {{ form.protection_level }}

    {% if form.protection_level.errors %}
    {% element_error form 'protection_level' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.year.label_tag }}

    {{ form.year }}

    {% if form.year.errors %}
    {% element_error form 'year' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.description.label_tag }}

    {{ form.description }}

    {% if form.description.errors %}
    {% element_error form 'description' %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.est_ownership_cost.label_tag }}

    {{ form.est_ownership_cost }}

    {% if form.est_ownership_cost.errors %}
    {% element_error form 'est_ownership_cost' %}
    {% endif %}
</div>

<div class="form-group">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-6">
            <table class="table table--s-1 mb-0">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Year Complied</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- FIX: disable text if checkbox in unchecked -->
                    {% for tech_status in tech_statuses %}
                    {% with tech_status_snake=tech_status.name|slugify|snake_case %}
                    {% readiness_inline_formset tech_statuses_formset_prefix tech_status_snake label=tech_status.name %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


